# Notebook for erosmining

Importerer nbtext og også pandas for å gjøre statistikken.

In [1]:
import module_update
import nbtext as nb
import pandas as pd

%matplotlib inline

Updated file nbtext.py
Updated file nbpictures.py

## Hent URN-er fra Word-dokument

In [47]:
urns = nb.get_urns_from_docx('../Materiale erotisk litteratur 1945-1970 liste 27.09.18.docx')
print('Antall URNer: ', len(urns))

Antall URNer:  456

## Hent litt metadata og sjekk hva det er data for

In [5]:
# rekonstruerer metadata for URN-ene (tar litt tid...)
meta = [nb.metadata(urn) for urn in urns]

### Det mangler ca 180

URN-er som det ikke er metadata på i basen. Noe er fordi det er digitalisert sent i 2016, 2017 og 2018. De kommer med senere i år.

In [31]:
len(m_data)

263

In [42]:
# Liste over URNer som ikke er med i datasettet, ca. 180

(set([int(urn) for urn in urns]) - set([x[0][0] for x in meta if x != []]))

{2007050201054,
 2007072301019,
 2008042400058,
 2012111908135,
 2012112305008,
 2013052908050,
 2016112348565,
 2016112408030,
 2016112408044,
 2016112808031,
 2016112908141,
 2016113008001,
 2016113008002,
 2016113008006,
 2016113008024,
 2016113008067,
 2016121448508,
 2017020808081,
 2017020808088,
 2017020808089,
 2017020808094,
 2017020808097,
 2017020808118,
 2017020808185,
 2017020808195,
 2017021008040,
 2017021408042,
 2017021408065,
 2017021408086,
 2017021408087,
 2017021408104,
 2017021608007,
 2017021708016,
 2017021708021,
 2017022848047,
 2017022848116,
 2017030108037,
 2017030808111,
 2017031548012,
 2017031608003,
 2017031748088,
 2017032148027,
 2017032708038,
 2017032948108,
 2017033148065,
 2017040408015,
 2017040448077,
 2017050348036,
 2017050348037,
 2017051148150,
 2017051548001,
 2017051548002,
 2017051548004,
 2017051548014,
 2017051548015,
 2017051548018,
 2017051548038,
 2017051548045,
 2017051548050,
 2017051548053,
 2017051548056,
 2017051548059,
 2017051548063,
 2017051548065,
 2017051548080,
 2017051548081,
 2017051548086,
 2017051548087,
 2017051548090,
 2017051548091,
 2017051548097,
 2017051548101,
 2017051548102,
 2017051548105,
 2017051548106,
 2017051548108,
 2017051548109,
 2017051548111,
 2017051548112,
 2017051548113,
 2017051548115,
 2017051548119,
 2017051548121,
 2017051548124,
 2017051548176,
 2017051548184,
 2017051548185,
 2017051548186,
 2017051548188,
 2017051548195,
 2017051548196,
 2017051648032,
 2017051648034,
 2017051648036,
 2017051648037,
 2017051648038,
 2017051648039,
 2017051648044,
 2017051648052,
 2017051648061,
 2017051648064,
 2017051648070,
 2017051648078,
 2017053048054,
 2017060148096,
 2017060148165,
 2017060708005,
 2017060708009,
 2017060708012,
 2017060708029,
 2017060708054,
 2017061248008,
 2017061248034,
 2017061248086,
 2017061248092,
 2017061248098,
 2017061608012,
 2017061608109,
 2017061608110,
 2017061608116,
 2017061608117,
 2017061608118,
 2017061608130,
 2017061608135,
 2017061608142,
 2017061608145,
 2017061608146,
 2017061608147,
 2017061608168,
 2017061608169,
 2017061608173,
 2017061608174,
 2017061908003,
 2017061908013,
 2017061908015,
 2017061908016,
 2017061908017,
 2017061908019,
 2017061908024,
 2017061908039,
 2017061908043,
 2017061908054,
 2017061908058,
 2017061908065,
 2017061908080,
 2017061908083,
 2017061908084,
 2017061908091,
 2017061908093,
 2017061908098,
 2017061908116,
 2017061908117,
 2017061908120,
 2017061908121,
 2017061908137,
 2017061908142,
 2017061908159,
 2017061908173,
 2017061908181,
 2017062108022,
 2017062108053,
 2017062708126,
 2017062708127,
 2017062708138,
 2017062708139,
 2017062708156,
 2017062808091,
 2017062808162,
 2017062808165,
 2017062808193,
 2017070507163,
 2017070707082,
 2017080248038,
 2017081748110,
 2017090748035,
 2017100348053,
 2017100348061,
 2017100348072,
 2017100348081,
 2017100348102,
 2018022709528,
 2018022709573,
 2018022709584,
 2018030848009,
 2018030848017}

# Lag en dataramme for metadataene

In [17]:
m_data = pd.DataFrame([x[0] for x in meta if x != []])

In [19]:
m_data.columns = ["urn", "forfatter", "år", "tittel", "forlag", "språk", "originalspråk"]

### Rammen ser sånn ut, her med de første radene

In [46]:
m_data[:5]

,urn,forfatter,år,tittel,forlag,språk,originalspråk
0,2015090129001,"Mykle, Agnar",1956.0,Sangen om den røde rubin,Gyldendal,nob,
1,2011112308125,"Mykle, Agnar",1954.0,Lasso rundt fru Luna,Gyldendal,nob,
2,2012021608164,"Aalberse, Han B.",1959.0,Ung kjærlighet,Atlas,nob,dut
3,2016111748512,"Aalberse, Han B.",1960.0,Ungt begjær,Atlas,nob,dut
4,2010111706020,"Anderberg, Bengt",1949.0,Kain,Bergendal,nob,swe

## Statistikk for kolonnene

In [23]:
m_data['forlag'].value_counts()

Gyldendal                                            49
Bladkompaniet                                        39
Aschehoug                                            31
Cappelen                                             24
Brann                                                18
Mortensen                                            14
Atlas                                                 9
Nasjonalforl.                                         8
Ingar Weyer Tveitan                                   8
Pax                                                   7
Brann;Oslo : Brann, 1952-1953                         5
Bergendahl                                            4
Stabenfeldt                                           4
Ny dag                                                4
Tiden                                                 4
Cammermeyer                                           3
Pax forlag                                            2
Steensballe                                           2
Stabenfeldthus;Stavanger : Stabenfeldthus, [1961]     2
Argosy                                                2
Bergendal                                             2
Stig Vendelkærs Forlag                                2
IBA;Scala                                             1
Bokklubben                                            1
Ingar Weyer Tveitan forl.                             1
Kringen                                               1
Fredhøi                                               1
John Griegs forl.                                     1
Gyldendal;Oslo : Gyldendal, 1968-1969                 1
Essforlagene                                          1
Tveitan                                               1
Gyldendal;Oslo : Gyldendal, 1955                      1
Alb.Cammermeyer                                       1
Dreyer                                                1
Ingar Weyer Tveitan forlag                            1
Essforl.                                              1
Oslo, &lt;1967&gt;-    .                              1
Metropol forlag                                       1
Scala;Oslo : Scala, 1965-1966                         1
Samlaget                                              1
Scala forl.                                           1
Gyldendal;Oslo : Gyldendal, 1952                      1
Name: forlag, dtype: int64

In [24]:
m_data['språk'].value_counts()

nob    258
mul      3
dan      2
Name: språk, dtype: int64

In [28]:
m_data['originalspråk'].value_counts()

          115
eng        96
swe        14
dan        12
fre        10
ita         4
engpor      3
ger         3
dut         2
gerhrv      2
ara         1
gre         1
Name: originalspråk, dtype: int64